<%- include('../header') %>

            <div class="row" style="margin-top: 25px">
                <div class="col-md-2" style="margin: 20px 10px">
                    <a href="/posts/novo" class="btn btn-primary"><i class="fas fa-plus"></i> Adicionar novo Post</a>
                </div>
                <div class="col-md-8">
                    <Table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Posts</td>
                                <td width="100" class="text-center">Ações</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% posts.forEach(post => { %>
                                <tr>
                                    <td>
                                        <%= post.post %> 
                                    </td>
                                    <td class="text-center">
                                        <a href="/posts/excluir/<%= post.id %>"><i class="fas fa-trash-alt"></i></a> | 
                                        <a href="/posts/editar/<%= post.id %>"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </Table>
                </div>
            </div> 
<%- include('../footer') %>